.main-nav {
  border-bottom: 2px solid rgb(0, 123, 31);
  background-color: rgb(138, 220, 15);
}
.nav-item {
  color: rgb(255, 255, 255);
  margin: 0px 20px;
  font-size: 18px;
  font-weight: 600;
  transition: 0.5s;
}
.nav-item:hover {
  text-decoration: none;
  color: rgb(248, 37, 0);
}

.active-nav-item {
  color: rgb(248, 37, 0);
}
